body {
    padding-left: 200px;
}

#sidebar {
    position: fixed;
    left: 0px;
    top: 0px;
    bottom: 0px;
    width: 200px;
    overflow-y: auto;
}

#content {
    padding: 0px 20px;
}

input[type="text"] {
    background: transparent;
    border: 0px;
    border-bottom: 1px black dotted;
    outline: none;
}
input[type="text"]:focus {
    border-bottom: 1px red dotted;
}