body {
    padding-left: 200px;
}

header {
    background-color: #333;
    color: white;

}

header h1 {
    margin: 0px;
    padding: 10px 20px;
}

header hr {
    border: 0px;
    height: 1px;
    background: white;
    margin: 10px 0px;
}

#sidebar {
    position: fixed;
    left: 0px;
    top: 0px;
    bottom: 0px;
    width: 200px;
    overflow-y: auto;
    border-right: 1px solid;
}

input[type="text"] {
    background: transparent;
    border: 0px;
    border-bottom: 1px black dotted;
    outline: none;
}
input[type="text"]:focus {
    border-bottom: 1px #428bca dotted;
    color: #428bca;
}

.notification {
    position: absolute;
    top: 6px;
    right: 20px;
    width: 100px;
    text-align: center;
}